
 body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 0 auto;
  padding: 25px;
 }

 .container {
  border: 1px solid #b5b6b8;
  margin: 0 auto;
  padding: 25px 18px;
  position: relative;
  height: 350px;
  width: 650px;
  border-radius: 25px;
 }

 .app-info {
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.location-details {
  margin-top: 25px;;
  padding-left: 10px;
  line-height: 1.5em;
 }

 ul {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
 }

 h1 {
   color: #7c7c7c;
   font-size: 24px;
   font-weight: 100;
   line-height: 28px;
   margin: 0;
 }

 .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 25px;
}
 
 .units {
   position: relative;
   top: -34px;
   padding-top: 10px;
   padding-left: 15px;;
   font-size: 20px;
 }
 
 .search-form {
   margin-bottom: 50px;
   box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
 }
 
button {
  padding: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
 }

.city-input{
  border-radius: 50px;
 }

form {
box-sizing: border-box;



 }